{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/generalform.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>FindMeHelpMe | Form</title>
  </head>
  <body>
    <div class="main">
      <div class="form-head ">
        <img src="{% static 'images/form-logo.png' %}" alt="form-logo" class="form-logo" />
        <div>
          <h1 class="form-title">FindMeHelpMe Form</h1>
          <p class="form-text">
            Form to report missing people in the earthquake 
          </p>
        </div>
        
      </div>
      <div class="form-main-content">
        <form class="form">
            <label for="fname">Name</label><br>
            <input type="text" id="" name=""><br>
            <label for="lname">Phone Number</label><br>
            <input type="text" id="" name=""><br><br>

            <label for="fname">Country</label><br>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option value="1" data-x="" data-y="">One</option>
            </select><br>
            <label for="fname">City</label><br>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option value="1">One</option>
            </select><br>

            <label for="lname">Age</label><br>
            <input type="text" id="" name=""><br><br>
            <p>Gender</p>
            <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Male</button>
                <button class="dropdown-item" type="button">Female</button>
              </div>
            </div>
            <p>Condition</p>
            <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">            
                <button class="dropdown-item option1" type="button">Found</button>
                <button class="dropdown-item option2" type="button">Lost</button>
                <button class="dropdown-item option3" type="button">In Hospital</button>
                <button class="dropdown-item option4" type="button">Needs Help</button>
              </div>
            </div>
    

            <label for="lname">Address</label><br>
            <textarea style="resize:none; margin-bottom: 65px;" cols="66" rows="3"></textarea>
           
            <!-- <label for="lname">Photo</label><br>
            <div class="file-input">
              <input type="file" id="file" class="file">
              <label class="btn btn-danger btn-sm w-25 py-2" for="file">Select file</label>
            </div> -->
            <label for="lname">Additional Notes</label><br>
            <textarea style="resize:none; margin-bottom: 65px;" cols="66" rows="3"></textarea>
            <label for="lname">Reporter Name</label><br>
            <input type="text" id="" name=""><br><br>
            <label for="lname">Reporter Phone</label><br>
            <input type="text" id="" name=""><br><br>
            <label for="lname">Reporter Email</label><br>
            <input type="text" id="" name=""><br><br>





            <input class="btn btn-danger btn-sm w-25 py-2 h-100" type="submit" value="Submit">
          </form> 
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

