{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
<form id="ihbarform" method="post" action="{% url 'ihbarview_tr' %}">
    {% csrf_token %}
        <!-- Modal content-->
        <div class="modal-content px-5 pt-4">
                <h1>İhbar Yapan Kişi</h1><hr>
                <div class="form-group">
                  <label for="example1">İsim:</label>
                  <input name="ihbar_first_name" type="text" class="form-control" placeholder="İsim:">
                </div>
                <div class="form-group">
                    <label for="example2">Soyisim:</label>
                    <input name="ihbar_last_name" type="text" class="form-control" placeholder="Soyisim:">
                  </div>
                  <div class="form-group">
                    <label for="example2">Telefon Numarası:</label>
                    <input name="phonenumber" type="tel" class="form-control" placeholder="555-432-11-00">
                  </div>
                  <div class="form-group">
                    <label for="example3">E-posta:</label>
                    <input name="eposta" type="email" class="form-control" placeholder="E-posta:">
                  </div>
           

                <h1>KAYIP OLAN KİŞİ</h1><hr>

                <input type="hidden" name="cordinate_x" id="cordinate_x"/>
                <input type="hidden" name="cordinate_y" id="cordinate_y"/>

                <div class="form-group">
                  <label for="example4">İsim:</label>
                  <input name="kayip_first_name" type="text" class="form-control" placeholder="İsim:">
                </div>
                <div class="form-group">
                    <label for="example5">Soyisim:</label>
                    <input name="kayip_last_name" type="text" class="form-control" placeholder="Soyisim:">
                  </div>
                  
                  <div class="form-group">
                    <label for="example6">Telefon Numarası:</label>
                    <input name="phonenumber" type="tel" class="form-control" placeholder="555-432-11-00">
                  </div>
                  <div class="form-group">
                    <label for="example7">Adres:</label>
                    <textarea name="address" class="form-control" id="" cols="30" rows="5"></textarea>
                  </div>
                  <div><h3>Özellikler</h3></div>
                  <div class="form-check">
                    {% for tag in tags %}
                    <input name="tags" class="form-check-input" type="checkbox" value="{{tag.id}}">
                    <label class="form-check-label" for="defaultCheck1">
                      {{tag.tag}}
                    </label>
                    {% endfor %}
                  </div>
                  <div class="form-group">
                    <label for="example8">Açıklama:</label>
                    <textarea name="detail" class="form-control" id="" cols="30" rows="5"></textarea>
                  </div>
               
                <button type="submit" class="btn btn-primary">Gönder</button>
        </div>
    </form>
    </div>

</div>



<div id="map" style="width: 100%; height: 100%"></div>
<button type="button" id="openModal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style=" display:none;">Fill Form</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
<script src="{% static 'js/map.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
