<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- DataTable jQuery/JS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
</head>

<body>
  <div class="container-fluid" style="padding: 40px; margin: 0px;">
    <div class="row" style="display: flex; justify-content: start;  margin-left: 0px; margin-bottom: 10px; gap: 5px;">
      <button id="newRecordButton" class="btn btn-sm btn-primary">New</button>
      <button id="removeButton" class="btn btn-sm btn-danger">Delete</button>
    </div>
    <div class="row">
      <div class="col-12">
        <table id="reportList" class="display">
          <thead>
            <tr>
              <th>Reported ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>Map</th>
              <th>Detail</th>
              <th>Status</th>
              <th>Gender</th>
              <th>Age</th>
              <th>Reporter</th>
              <th>Reporter Number</th>
              <th>Status Description</th>
              <th>created_at</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div id="newRecordModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <!-- <iframe src="/genelform" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      let reportList = [];

      fetch('/api/reports')
        .then(res => res.json())
        .then(data => {
          data.forEach(dataItem => {
            dataItem.kayip_user.forEach(kayipUser => {
              let newRecord = {};
              newRecord.id = dataItem.id;
              newRecord.reported_id = kayipUser.id;
              newRecord.name = kayipUser.kayip_first_name + " " + kayipUser.kayip_last_name;
              newRecord.map = `<a href="https://www.google.com/maps?q=${kayipUser.cordinate_x},${kayipUser.cordinate_y}"> map </a>`;
              newRecord.address = kayipUser.address;
              newRecord.detail = kayipUser.detail;
              newRecord.kayip_status = kayipUser.kayip_status;
              newRecord.gender = kayipUser.gender === 'M' ? 'Male' : 'Female';
              newRecord.reporter = dataItem.ihbar_user_name;
              newRecord.reporter_number = dataItem.ihbar_user_phone_number;
              newRecord.age = kayipUser.age;
              newRecord.status = kayipUser.status;
              newRecord.created_at = kayipUser.created_at;
              reportList.push(newRecord);
            })
          });
        })
        .then(() => {
          var dataTable = $('#reportList').DataTable({

            "data": reportList,

            "columns": [
              { "data": "reported_id" },
              { "data": "name" },
              { "data": "address" },
              { "data": "map" },
              { "data": "detail" },
              {
                "data": "kayip_status",
                "render": function (data, type, row) {
                  data = data.toString();
                  if (data === '1') {
                    return 'At Hospital';
                  } else if (data === '2') {
                    return 'Missing';
                  } else if (data === '3') {
                    return 'Found';
                  } else {
                    return 'In Need of Help';
                  }
                }
              },
              { "data": "gender" },
              { "data": "age" },
              { "data": "reporter" },
              { "data": "reporter_number" },
              { "data": "status" },
              { "data": "created_at" }
            ]

          });
          $(document).ready(function () {
            $('#reportList').DataTable({
              dom: 'Bfrtip',
              buttons: [
                'copy', 'csv', 'excel'
              ]
            });
          });

          $('#reportList').on('click', 'tbody > tr', function () {

            if (!$(this).hasClass('selected')) {

              $('#reportList > tbody > tr.selected').removeClass('selected')

              $(this).addClass('selected');

            }

          });

          $('#reportList').on('dblclick', 'tbody td', function () {
            const ignoredCells = [0, 3, 8, 9, 6];
            const statusCell = 5;
            const statusDescriptionCell = 10;
            if (ignoredCells.includes($(this)[0].cellIndex)) return;

            if ($(this)[0].cellIndex == statusCell) {
              var selectElement = document.createElement('select');
              selectElement.className = "editable";
              var optionElement0 = document.createElement('option');
              optionElement0.value = 0;
              optionElement0.text = "Select Status";
              var optionElement1 = document.createElement('option');
              optionElement1.value = 1;
              optionElement1.text = "At Hospital";
              var optionElement2 = document.createElement('option');
              optionElement2.value = 2;
              optionElement2.text = "Missing";
              var optionElement3 = document.createElement('option');
              optionElement3.value = 3;
              optionElement3.text = "Found";
              var optionElement4 = document.createElement('option');
              optionElement4.value = 4;
              optionElement4.text = "In Need of Help";
              selectElement.appendChild(optionElement0);
              selectElement.appendChild(optionElement1);
              selectElement.appendChild(optionElement2);
              selectElement.appendChild(optionElement3);
              selectElement.appendChild(optionElement4);
              this.innerHTML = '';
              this.appendChild(selectElement);
              $(selectElement).focus();
            }
            else if ($(this)[0].cellIndex == statusDescriptionCell) {
              var textAreaElement = document.createElement('textarea');
              textAreaElement.className = "editable";
              this.innerHTML = '';
              this.appendChild(textAreaElement);
              $(textAreaElement).focus();
            }
            else {
              var text = dataTable.cell($(this)).data();

              var inputElement = document.createElement('input');

              inputElement.type = "text";

              inputElement.value = text;
              inputElement.className = "editable";

              this.innerHTML = '';

              this.appendChild(inputElement);

              $(inputElement).focus();
            }
          });

          $('#reportList').on('change', '.editable', function () {

            var inputVal = this.value;

            var cell = dataTable.cell($(this).parent('td'));

            var row = dataTable.row($(this).parents('tr'));

            var oldData = cell.data();

            cell.data(inputVal);

            let updatedData = row.data();
            updatedData.gender = row.data().gender === 'Male' ? 'M' : 'F';

            fetch(`/api/reports/${updatedData.id}`, {
              method: 'PATCH',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(updatedData)
            })
              .then(res => res.json())
              .catch(err => {
                console.log(err);
                cell.data(oldData);
              });

            dataTable.draw();
          });

          $('#reportList').on('active', '.editable', function () {

            $(this).parent('td').html(this.value);

            dataTable.draw();

          });

          $('#removeButton').on('click', function () {
            let selectedRow = dataTable.row('.selected').data();
            fetch(`/api/reports/${selectedRow.id}`, {
              method: 'DELETE'
            });
            dataTable.row('.selected').remove().draw(false);
          })

          $('#newRecordButton').on('click', function () {
            // Open a modal for new record
            $('#newRecordModal').modal('show');
            // Get the modal body
            let modalBody = $('#newRecordModal').find('.modal-body');
            // Calculate the iFrame and set the modal height size
            let modalHeight = $(window).height() - 200;
            modalBody.height(modalHeight);
            // Append iframe to the modal body
            let iframe = document.createElement('iframe');
            iframe.src = '/genelform';
            iframe.width = '100%';
            iframe.height = '100%';
            iframe.frameBorder = 0;
            modalBody.append(iframe);
            // When the modal is hidden, remove the iframe
            $('#newRecordModal').on('hidden.bs.modal', function () {
              modalBody.empty();
            });
          })
        })
    });
  </script>
</body>

</html>