{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<div id="map" style="width: 100%; height: 100%"></div>
{% for user in users %}
    <p>{{ user.first_name }} {{ user.last_name }} ({{ user.email }})</p>
{% endfor %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
<script src="{% static 'js/map.js' %}"></script>
<script>
    let examplejson = "{{users|safe}}"
    examplejson = examplejson.replace('<QuerySet ',"")
    examplejson = examplejson.replace('>',"")
    
    console.log(examplejson,'examplejson')
</script>
</html>
